body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .review-container {
    background-color: lavender;
    border: 2px solid rgb(164, 164, 253);
    padding: 20px;
    width: 400px;
    text-align: center;
    border-radius: 10px;
  }
  
  .heading {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .description {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .stars-container {
    margin-bottom: 20px;
    border: 2px solid rgb(246, 230, 250);
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
  }
  
  .fa-star {
    font-size: 24px;
    margin-right: 5px;
  }
  
  .textarea-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border: 2px solid lavender;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(135, 206, 235, 0.2); /* Light sky blue with low opacity */
  }
  
  .feedback-textarea {
    width: 100%;
    height: 80px;
    margin-left: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    resize: none;
  }
  
  .send-button {
    display: block;
    margin: 0 auto;
    background-color: blue;
    color: white;
    border: 2px solid rgb(228, 228, 253);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .send-button:hover {
    background-color: green;
  }